:root{
    --branding-color: rgb(40, 6, 133);
    --secondary-color:  rgb(204, 204, 247);
    --heading-font-family: 'Playfair Display', sans-serif;
    --default-font-family: 'Popins', sans-serif;
}

body{
    font-family: var(--default-font-family);  
    color: #272142;  
}

.container{
margin-right: 0px;
}

h1 {
    font-family: var(--heading-font-family);
    font-size: 96px;    
    line-height: 1.5;
    text-align: center;
}

h2{
    font-size: 62px;
    font-weight: 400;
    text-align: center;
}
p {
    font-size: 16px;
}

.project-description{
    padding: 0px 20px;
}

div{
    display: block;
}

.hero{
    background:var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
}

.hero h2{
    font-size: 36px;
    font-weight: normal;
    line-height: 2;
}

.about-section{
    text-align: center;
    padding: 160px 20px;
    margin: 30px;
}
.about-section h1{
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    padding: 0px;
}
.about-section h2{
    font-size: 18px;
    font-family: var(--default-font-family);
}

.btn-branding{
    background: var(--branding-color);
    border-radius: 6px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    margin-top: 30px;
}

.btn-outline-danger{
    border-color: var(--branding-color);
    color: var(--branding-color);
}

@media (max-width: 567px){
    h1, h2{
        font-size: 34px;
        }
        .hero{
            padding: 60px 20px;
}
}

@media (max-width: 940px){
    .project-description{
        padding: 0;
        text-align: center;
    }
    h1{
    font-size: 54px;
    line-height: 56px;
    }
    h2{
        font-size: 40px;
    }
    .hero{
        padding: 80px 20px;
}
.col-sm-5{
    max-width: 100%;
}
}
