:root{
    --branding-color: rgb(40, 6, 133);
    --secondary-color:  rgb(204, 204, 247);
    --text-color: #272142;
    --heading-font-family: 'Playfair Display', sans-serif;
    --default-font-family: 'Popins', sans-serif;

}

body{
    font-family: var(--default-font-family);  
    color: var(--text-color);  
}

#nav-container{
    margin-left: 140px;
}
#row-index
{
    margin-left: 10px;
    margin-right: 10px;
}
h1 {
    font-family: var(--heading-font-family);
    font-size: 96px;    
    line-height: 1.5;
    text-align: center;
}

h2{
    font-size: 62px;
    font-weight: 400;
    text-align: center;
}

h4{
    font-size: 40px;
}

p {
    font-size: 16px;
}

.project-description{
    padding: 0px 20px;
}

div{
    display: block;
}

.hero{
    background:var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
}

.hero h2{
    font-size: 36px;
    font-weight: normal;
    line-height: 2;
}

.about-section{
    text-align: center;
    padding: 160px 20px;
    margin: 30px;
}
.about-section h1{
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    padding: 0px;
}
.about-section h2{
    font-size: 18px;
    font-family: var(--default-font-family);
}

.btn-branding{
    background: var(--branding-color);
    border-radius: 6px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 28px;
    margin-top: 30px;
}
footer .contact-box{
    border-radius: 10px;
    background-color:var(--secondary-color);
    padding: 30px 120px;
}
footer .contact-box p{
    margin: 0px;
}

#my-photo{
    width: 400px;
}

.btn-outline-danger{
    border-color: var(--branding-color);
    color: var(--branding-color);
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: var(--branding-color);}

.navbar-brand{
    color: var(--text-color); 
    font-family: var(--heading-font-family);
}

footer .email-link{
    font-size: 24px;
}

.email-link:hover {
    color: var(--text-color);
}
.social-links a {
margin: 0px 20px;
padding: 10px 16px;
border-radius: 50%;
font-size: 28px;
transition: all 100ms ease-in-out;
}

footer .social-links a:hover{    
background-color: var(--secondary-color);
}

@media (max-width: 940px){
    .project-description{
        padding: 0;
        text-align: center;
    }
    h1{
    font-size: 55px;
    line-height: 60px;
    }
    h2{
        font-size: 40px;
    }
    .hero{
        padding: 60px 20px;
}

.about-section {
    text-align: center;
    padding: 60px 20px;
    margin: 0px;
}
#my-photo{
    max-width: 100%;
}
.about-section h1{
    font-size: 40px;
    line-height: 50px;
    }
    .col-sm-5{
        max-width: 100%;
    }
}

@media (max-width: 567px){
    h1, h2{
        font-size: 45px;
        line-height: 60px;  
    }
    .about-section h1{
        font-size: 45px;
        line-height: 60px;
        }
    .col-sm-5{
    max-width: 100%;
}
.about-section {
    text-align: center;
    padding: 60px 20px;
    margin: 0px;
}
.hero{
    padding: 60px 20px;
}
h4{
    font-size: 30px;
}
}

@media(max-width:300px){
    .about-section h1{
        font-size: 35px;
        line-height: 60px;
        }.col-sm-5{
            max-width: 100%;
        }
}